<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddFacultyServlet</servlet-name>
        <servlet-class>controller.AddFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFacultyServlet</servlet-name>
        <servlet-class>controller.UpdateFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheckerServlet</servlet-name>
        <servlet-class>controller.LoginCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAuthenticator</servlet-name>
        <servlet-class>model.LoginAuthenticator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationRedirectorServlet</servlet-name>
        <servlet-class>controller.RegistrationRedirectorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCheckerServlet</servlet-name>
        <servlet-class>controller.AdminCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFacultyServlet</servlet-name>
        <servlet-class>controller.RemoveFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentCheckerServlet</servlet-name>
        <servlet-class>controller.StudentCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyCheckerServlet</servlet-name>
        <servlet-class>controller.FacultyCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HODCheckerServlet</servlet-name>
        <servlet-class>controller.HODCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>controller.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>controller.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveStudentServlet</servlet-name>
        <servlet-class>controller.RemoveStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHODServlet</servlet-name>
        <servlet-class>controller.AddHODServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHodServlet</servlet-name>
        <servlet-class>controller.UpdateHodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveHodServlet</servlet-name>
        <servlet-class>controller.RemoveHodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>controller.AddNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNotificationServlet</servlet-name>
        <servlet-class>controller.AddNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNotificationServlet</servlet-name>
        <servlet-class>controller.UpdateNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveNotificationServlet</servlet-name>
        <servlet-class>controller.RemoveNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComplaintServlet</servlet-name>
        <servlet-class>controller.AddComplaintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateComplaintServlet</servlet-name>
        <servlet-class>controller.UpdateComplaintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveComplaintServlet</servlet-name>
        <servlet-class>controller.RemoveComplaintServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFacultyServlet</servlet-name>
        <url-pattern>/AddFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFacultyServlet</servlet-name>
        <url-pattern>/UpdateFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheckerServlet</servlet-name>
        <url-pattern>/LoginCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAuthenticator</servlet-name>
        <url-pattern>/LoginAuthenticator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationRedirectorServlet</servlet-name>
        <url-pattern>/RegistrationRedirectorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCheckerServlet</servlet-name>
        <url-pattern>/AdminCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFacultyServlet</servlet-name>
        <url-pattern>/RemoveFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentCheckerServlet</servlet-name>
        <url-pattern>/StudentCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyCheckerServlet</servlet-name>
        <url-pattern>/FacultyCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HODCheckerServlet</servlet-name>
        <url-pattern>/HODCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/UpdateStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveStudentServlet</servlet-name>
        <url-pattern>/RemoveStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHODServlet</servlet-name>
        <url-pattern>/AddHODServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHodServlet</servlet-name>
        <url-pattern>/UpdateHodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveHodServlet</servlet-name>
        <url-pattern>/RemoveHodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNotificationServlet</servlet-name>
        <url-pattern>/AddNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNotificationServlet</servlet-name>
        <url-pattern>/UpdateNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveNotificationServlet</servlet-name>
        <url-pattern>/RemoveNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComplaintServlet</servlet-name>
        <url-pattern>/AddComplaintServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateComplaintServlet</servlet-name>
        <url-pattern>/UpdateComplaintServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveComplaintServlet</servlet-name>
        <url-pattern>/RemoveComplaintServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
